            <a href="{% url 'main_ais' %}"><li><i class="fa fa-home" aria-hidden="true"></i></i>  Главная страница</li></a>
            <a href="{% url 'register' %}"><li><i class="fa fa-home" aria-hidden="true"></i></i>  Страница регистрации</li></a>
            <a href="{% url 'about' %}"><li><i class="fa fa-home" aria-hidden="true"></i></i>  О нас</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa fa-home" aria-hidden="true"></i></i>  Новости</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i></i>  Добавить запись</button></li></a>
            <a href="{% url 'tpr1' %}"><li><i class="fas fa-bookmark"></i> Лабораторная № 1</li></a>
            <a href="{% url 'tpr2' %}"><li><i class="fas fa-bookmark"></i> Лабораторная № 1.2</li></a>
            <a href="{% url 'tpr3' %}"><li><i class="fas fa-bookmark"></i> Лабораторная № 2</li></a>
            <a href="{% url 'tpr4' %}"><li><i class="fas fa-bookmark"></i> Лабораторная № 3</li></a>
            <a href="{% url 'tpr5' %}"><li><i class="fas fa-bookmark"></i> Лабораторная № 6</li></a>