#nameLab2 {
    border-bottom: 5px solid #FF9200;
}

#mainInfLab2, #inputNoInInfMatrixLab2, #inputInInfMatrixLab2 {
    border-bottom: 3px dashed #FF9200;
}

#nameLab2, #mainInfLab2, #inputInInfMatrixLab2, #inputNoInInfMatrixLab2, #drawTreeLeb2 {
    width: 80vw;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}


    .tree {
        font-size: 14px;
        font-family: sans-serif;
    }
    .tree ul {
        white-space: nowrap;
        border-left: 2px solid rgb(0, 0, 0);
        padding-left: 10px;
        margin-left: 12px;
        margin-bottom: 10px;
        color: #0262f9;
    }
    .tree ul li {
        list-style: none;
        padding-left: 10px;
        margin-bottom: 3px;
    }
    .tree ul li:before {
        position: relative;
        border-top: 2px solid rgb(0, 0, 0);
        width: 15px;
        height: 1px;
        content: "";
        display: inline-block;
        margin: 0px 5px 4px -18px;
    }
    