#bg {
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    /* margin-top: -270px; */
    min-width:100%;
    min-height:100%;
    /* background: url(https://i.pinimg.com/736x/c2/11/c1/c211c129a18fcc6ec82de56222c33f1c.jpg) no-repeat center bottom fixed; */
    background: url(https://i.pinimg.com/564x/35/fd/ab/35fdab882382ab23c258878dbecded65.jpg) no-repeat center bottom fixed;
    background-size: 1300px 800px;
}

 #bg1 {
    background-color:rgba(33, 15, 0, 0.37);
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    /* margin-top: -270px; */
    min-width:100%;
    min-height:100%;
}

.main_zagolovoc{
    margin-top: 160px;
    margin-left: 140px;
    /* background-color: #91552583; */
    width: max-content;
    padding: 10px 25px;
    /* opacity: 0.5; */
}

.main_zagolovoc h1, .main_zagolovoc h6{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    /* font-weight: bold; */
}