{% extends 'main/ais/shablon_ais.html' %}

{% block title %}Главная{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/main/ais/css/main_ais_pg.css" type="text/css">
{% endblock %}

{% block content %}
<div class="main_content">
    <div id="bg">
        <div id="bg1"></div>
    </div>
    <!-- <img id="bg" src="https://i.pinimg.com/736x/c2/11/c1/c211c129a18fcc6ec82de56222c33f1c.jpg"> -->
    <div class="main_zagolovoc">
        <h1>Ремонтные работы<br>под ключ в Уфе</h1>
        <h6>для квартир и коттеджей</h6>
    </div>
</div>
{% endblock %}