{% extends 'main/ais/shablon_ais.html' %}

{% block title %}Портфолио{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/main/ais/css/portfolio_ais_pg.css" type="text/css">
{% endblock %}

{% block content %}
<div class="portfolio_content">
   <h3 class="our_work_label">Наши работы</h3>
   <div class="menu_our_work">
        <ul>
            <li class="our_work_1_li"><a href="#our_work_1">1<br>Коттедж в Абзаково для семьи Ивановых</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 1<br>VIP</h3>               
            </div>
         </ul>
         <ul>
            <li class="our_work_2_li"><a href="#our_work_2">2<br>Квартира в спальном районе для Петровых</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 2<br>Premium</h3>               
            </div>
         </ul>
         <ul style="margin-right: 0;">
            <li class="our_work_3_li"><a href="#our_work_3">3<br>Ремонт и полная обстановка квартиры в Инорсе</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 3<br>Elite</h3>               
            </div>            
        </ul>
        <ul>
            <li class="our_work_4_li"><a href="#our_work_4">4<br>Ремонт квартиры в ЖК "Аристократ"</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 4<br>VIP</h3>               
            </div>
         </ul>
         <ul>
            <li class="our_work_5_li"><a href="#our_work_5">5<br>Ремонт квартиры в м-не Инорс</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 5<br>Premium</h3>               
            </div>
         </ul>
         <ul style="margin-right: 0;">
            <li class="our_work_6_li"><a href="#our_work_6">6<br>Ремонт квартиры а м-не Зеленая Роща</a></li>
            <div class="project_name">
               <h3>ПРОЕКТ 6<br>Elite</h3>               
            </div>
        </ul>
   </div>
   <section id="our_work_1">
       <h1>ПРОЕКТ 1 - VIP</h1>
       <div class="opisaniye_project">
          <img src="https://www.designlinesmagazine.com/cms/media/2013/12/DL-0317-Where-StudioB-1.jpg">
          <div class="opisaniye_project_text">
               <h2>120 м² - 652 тыс. руб</h2>
               <h5>Изящный интерьер квартиры — этот результат труда нескольких десятков специалистов. 
               Например, для ремонта просторной квартиры люксового формата или бизнес-класса требуется
                около 10 различных мастеров, включая отделочников, грузчиков, сборщиков мебели, прораба,
                 менеджера проекта, дизайнера с авторским надзором и т.п. Сам дизайн-проект тоже создается
                  не одним только дизайнером интерьера. Сложные проекты требуют работы нескольких специалистов,
                   например, инженера, архитектора, дизайнера, комплектовщика, декоратора.
                  </h5>    
          </div>
       </div>
    </section>
   <section id="our_work_2">
        <h1>ПРОЕКТ 2 - Premium</h1>
        <div class="opisaniye_project">
          <img style="background-size: 204px 204px;" src="https://www.studiobhome.com/content/homepage/homepage-who-we-are-image-henge-2-right.jpg">
          <div class="opisaniye_project_text">
               <h2>300 м² - 246 тыс. руб</h2>
               <h5>В дизайне интерьера квартир очень важна цветовая гамма.
                   Если цвета смешаны не в гармоничных пропорциях, вы получаете 
                   слишком сумбурный интерьер. При этом не бывает слишком светлых
                    или слишком темных интерьеров, слишком ярких или слишком монохромных, 
                    все это — дело вкуса. Но гармоничное сочетание оттенков в утонченной 
                    изящной стилистике — то, что объединяет все профессиональные проекты.
                  </h5>
          </div>
       </div>
   </section>
   <section id="our_work_3">
        <h1>ПРОЕКТ 3 - Elite</h1>
        <div class="opisaniye_project">
          <img src="https://www.designlinesmagazine.com/cms/media/2017/11/Drechsel_Designlines_1.jpg">
          <div class="opisaniye_project_text">
               <h2>120 м² - 217 тыс. руб</h2>
               <h5>Качественный ремонт — это настолько же важная вещь,
                  как и профессиональный дизайн-проект. Выполнение одного 
                  невозможно без реализации другого, и результат напрямую зависит 
                  от них обоих. Изящный ремонт квартиры может быть разрушен неправильно
                   подобранной плиткой на этапе комплектации или не тем типом дивана. 
                   В то же время одних специалистов-отделочников на месте не хватит, 
                   чтобы предусмотреть функционал, планировку и инженерию всего проекта в общем.
                  </h5>    
          </div>
       </div>
   </section>
   <section id="our_work_4">
        <h1>ПРОЕКТ 4 - VIP</h1>
        <div class="opisaniye_project">
          <img src="https://www.henge07.com/app/uploads/2019/04/StudioB47_01-1440x950.jpg">
          <div class="opisaniye_project_text">
               <h2>240 м² - 648 тыс. руб</h2>
               <h5>Возможно, вы еще не определись, какой интерьер станет для вас идеальным.
                  Вы можете просматривать различные проекты и находить что-то похожее, 
                  но не видеть ничего подходящего для себя. И это — совершенно нормально! 
                  Вы можете прийти к дизайнеру с набросками, идеями, сохраненными в Интернете 
                  фотографиями и пожеланиями и вместе найти путь к вашей квартире мечты. Знайте, 
                  изящная квартира, которая выглядит, как оазис мира, спокойствия и эстетики, 
                  ждет вас практически за углом!
                  </h5>  
          </div>
       </div>
   </section>
   <section id="our_work_5">
        <h1>ПРОЕКТ 5 - Premium</h1>
        <div class="opisaniye_project">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/celia-welch-web-1520281330.jpg?crop=1xw:1xh;center,top&resize=480:*">
          <div class="opisaniye_project_text">
               <h2>240 м² - 193 тыс. руб</h2>
               <h5> В современном дизайне интерьера есть несколько вещей,
                    которые стоит помнить. Первая — нет правильного или неправильного решения
                     в отделке вашей квартиры. Вы сами выбираете, в какой среде жить,
                      какой образ жизни вам подходит. Вторая — компромисс не обязательно
                       должен быть сложным. Если вы и ваш супруг имеете разные взгляды
                        на дизайн, можно миксовать предпочтения в разных форматах и найти что-то подходящее. 
                        Не останавливайтесь на достигнутом и ищите идеальный вариант.
                 </h5>    
          </div>
       </div>
   </section>
   <section id="our_work_6">
        <h1>ПРОЕКТ 6 - Elite</h1>
        <div class="opisaniye_project">
          <img src="https://cdn.mos.cms.futurecdn.net/8gWHdR7b37GDtBfzEKe4aL.jpg">
          <div class="opisaniye_project_text">
               <h2>300 м² - 301 тыс. руб</h2>
               <h5>Во многом успех ремонта квартиры зависит от того,
                  насколько точно вы знаете чего хотите. Какой формат 
                  вам подойдет: современный интерьер или более классический
                   светлый или темный, с яркими или пастельными акцентами или
                    быть может вообще без акцентов. В идеале нужно знать, 
                    сколько отдельных спален вам нужно, и чему вы хотите отдать
                     приоритет, например, большой кухне-гостиной или просторной 
                     гардеробной комнате.
                  </h5>    
          </div>
       </div>
   </section>
</div>
{% endblock %}